.heading{
    margin: 0;
    font-size: 22px;
    color: white;
    width: 100%;
}
h3 span{
    color: black;
    font-size: 15px;
}
body{
    background-image: url("background.jpg");
  
    background-repeat: no-repeat;
    background-size: cover;
}

#play{
    height: 50px;
    width: 80px;
}
#component{
    /* display: flex;
    justify-content: space-around; */
}
#speed{
    float: left !important;
}
#speed img{
    width: 130px;
    height: 110px;
    border-radius: 50%;
    
}
#volume img{
    width: 130PX;
    height: 110px;
    border-radius: 50%;
}
#volume{
    float: right !important;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: gray;
    text-align: center;
    font-weight: bold !important;
}
footer h3{
    font-weight: bold;
}
canvas{
    border: 5px solid white;
    background-color: grey;
    padding: 5px;
    border-radius: 15px;
    margin-top: 180px;
}


#controls{
    display:none;
}
#volume{
    float: right;
}